<div class="container">
    <div class="car-details">
        <div class="car-image">
            <img id="carImg" src="" alt="Car Image">
        </div>
        <div class="car-info">
            <h2 id="carName"></h2>
            <p id="carYear"></p>
            <p id="carColor"></p>
            <p id="carPrice"></p>
            <p id="carEngine"></p>
            <p id="carTransmission"></p>
            <p id="carFuel"></p>
            <button class="buy-button" id="buyButton">Comprar</button>
        </div>
    </div>
</div>
