<div class="car-details">
    <div class="car-image">
        <img id="carImg" [src]="veiculo.imagem" alt="Car Image">
    </div>
    <div class="car-info">
        <h2 id="carName">{{veiculo.modelo}}</h2>
        <p id="carYear">{{veiculo.ano}}</p>
        <p id="carColor">{{veiculo.cor}}</p>
        <p id="carPrice">{{veiculo.preco}}</p>
        <p id="carEngine"></p>
        <p id="carTransmission"></p>
        <p id="carFuel"></p>
        <button class="buy-button" id="buyButton">Comprar</button>
    </div>
</div>

