<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=directions_car" />
<header>
    <div class="empty"></div>
    <div class="logo">
        <img src="icons/carro-16x16.png" alt="Logo AnhembiMotors">
        <h1><a href="home">Anhembi Motors</a></h1>
    </div>
    <div class="login">
        <button><a href="login">Login/Cadastro</a></button>
    </div>
    
    <!-- <app-search/> -->
</header>

