<footer>
    <div class="footer-container">
        <div class="footer-item"><h3>Sobre nós</h3></div>
        <div class="footer-item"><h3>Contato</h3></div>
        <div class="footer-item">
            <h3>Garantia</h3>
            <p>Garantia estendida em todos os veículos.</p>
        </div>
        <div class="footer-item">
            <h3>Suporte ao cliente</h3>
            <p>Disponível 24/7 para ajudá-lo.</p>
        </div>
        <div class="footer-item">
            <h3>Siga-nos</h3>
            <div class="icons">
                <div class="social-icons">
                    <a href="">
                    </a>
                    <a href="">   
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</footer>
