
.car-item{
    text-align: center;
    width: 300px;
    justify-content: center;
    margin:10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;

    img{
        width: 100%;
    }

    button{
        background-color: #067bf8;
    }
}

