<main>
    <div class="container glass">
        <!-- <div class="form-toggle">
            <button onclick="showLogin()">Login</button>
            <button onclick="showCadastro()">Cadastro</button>
        </div> -->
        <swiper-container #swiper (slideChangeTransitionStart)="onSlideChange($event)">
			<swiper-slide>
				<div class="slide">
                    <h1>Login</h1>
                    <form (onSubmit)="onLogin()">
                        <div class="input-group">
                            <label for="login-email">Email:</label>
                            <input type="email" id="login-email" name="email" required>
                        </div>
                        <div class="input-group">
                            <label for="login-senha">Senha:</label>
                            <input type="password" id="login-senha" name="senha" required>
                            <p><a href="#" onclick="mostrarRecuperarSenha()">Esqueci a senha</a></p>
                        </div>
                        <button type="submit">Entrar</button>
                        <div class="cadastro">
                            <p>Ainda não possui uma conta?</p>
                            <button class="btnCadastro" (click)="slide.slideNext()" size="large" color="secondary">cadastre-se</button>
                        </div>
        
                        <div class="extra-options">
                            <button type="button" class="funcionario-btn" onclick="mostrarAcessoFuncionario()"><p>Acesso de Funcionário</p></button>
                        </div>
                    </form>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <h1>Cadastrar</h1>
                    <form (ngSubmit)="submit()">
                        <div class="input-group">
                            <div class="nomeSobrenome">
                                <div class="nome">
                                    <label for="nome">Digite seu nome:</label>
                                    <input type="text" name="nome" [(ngModel)]="cliente.nome" required>
                                </div>

                                <!-- <div *ngIf="loginForm && formDir.submitted" class="validation-error">
                                    <p>O nome é obrigatório</p>
                                </div> -->
                                
                                <div class="sobrenome">
                                    <label for="sobrenome">Digite seu sobrenome:</label>
                                <input type="text" name="sobrenome" [(ngModel)]="cliente.sobrenome" required>
                                </div>
                            </div>
        
                            <label for="email">Digite seu email: </label>
                            <input type="email" name="email" [(ngModel)]="cliente.email" required>
        
                            <label for="senha">Digite sua senha:</label>
                            <input type="password" name="senha" pattern=".{8,}" title="A senha deve ter pelo menos 8 caracteres" [(ngModel)]="cliente.senha" required>
        
                            <label for="repetirSenha">Confirme sua senha:</label>
                            <input type="password" name="repetirSenha" [(ngModel)]="repetirSenha" required>
        
                            <label for="telefone">Digite Seu telefone:</label>
                            <input type="tel" name="telefone" [(ngModel)]="cliente.telefone">
        
                            <label for="cpf">Digite seu cpf:</label>
                            <input type="number" name="cpf" [(ngModel)]="cliente.cpf">
                        </div>

                        <button type="submit" class="btnCadastrar" (click)="onCadastrar()">Cadastrar</button>
                    </form> 

                    <!-- <h1>{{cliente | json}}</h1> -->

                </div>
            </swiper-slide>
        </swiper-container> 
       
        <div id="login-form" class="form-section">
            
        </div>
    
    </div>
</main>

