<main>
    <div class="container glass">
        <!-- <div class="form-toggle">
            <button onclick="showLogin()">Login</button>
            <button onclick="showCadastro()">Cadastro</button>
        </div> -->
        <swiper-container #swiper (slideChangeTransitionStart)="onSlideChange($event)">
			<swiper-slide>
				<div class="slide">
                    <h1>Login</h1>
                    <form (onSubmit)="onLogin()" class="formLogin">
                        <div class="input-group">
                            <label for="login-email">Email:</label>
                            <input type="email" id="login-email" name="email" required>
                        </div>
                        <div class="input-group">
                            <label for="login-senha">Senha:</label>
                            <input type="password" id="login-senha" name="senha" required>
                            <p><a href="#" onclick="mostrarRecuperarSenha()">Esqueci a senha</a></p>
                        </div>
                        <button type="submit">Entrar</button>
                        <div class="cadastro">
                            <p>Ainda não possui uma conta?</p>
                            <button class="btnCadastro" (click)="slide.slideNext()" size="large" color="secondary"><p>cadastre-se</p></button>
                        </div>
        
                        <div class="extra-options">
                            <button type="button" class="funcionario-btn" onclick="mostrarAcessoFuncionario()"><p>Acesso de Funcionário</p></button>
                        </div>
                    </form>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slide">
                    <h1>Cadastrar</h1>
                    <form (ngSubmit)="submit(cadastroForm.value)" [formGroup]="cadastroForm" class="formCadastro">
                        <div class="input-group">
                            <div class="nomeSobrenome">
                                <div class="nome">
                                    <label for="nome">Digite seu nome:</label>
                                    <input type="text" name="nome" formControlName="nome" required>
                                </div>

                                @for(validation of validationMessages.nome; track $index){
                                    @if(hasInputError('nome', validation.type)){
                                        <div  class="validation-error">
                                            <p>O nome é obrigatório</p>
                                        </div>
                                    }  
                                }
                                
                                <div class="sobrenome">
                                    <label for="sobrenome">Digite seu sobrenome:</label>
                                    <input type="text" name="sobrenome" formControlName="sobrenome" required>
                                </div>

                                @for(validation of validationMessages.sobrenome; track $index){
                                    @if(hasInputError('sobrenome', validation.type)){
                                        <div  class="validation-error">
                                            <p>O sobrenome é obrigatório</p>
                                        </div>
                                    }  
                                }
                            </div>
        
                            <label for="email">Digite seu email: </label>
                            <input type="email" name="email" formControlName="email" required>

                            @for(validation of validationMessages.email; track $index){
                                @if(hasInputError('email', validation.type)){
                                    <div  class="validation-error">
                                        <p>O email é obrigatório</p>
                                    </div>
                                }  
                            }

                            <div class="senha">
                                <div>
                                    <label for="senha">Digite sua senha:</label>
                                    <input type="password" name="senha" formControlName="senha" required>

                                    @for(validation of validationMessages.senha; track $index){
                                        @if(hasInputError('senha', validation.type)){
                                            <div  class="validation-error">
                                                <p>A senha é obrigatório</p>
                                            </div>
                                        }  
                                    }
                                </div>
                                
                                <div>
                                    <label for="repetirSenha">Confirme sua senha:</label>
                                    <input type="password" name="repetirSenha" formControlName="confirmarSenha" required>

                                    @for(validation of validationMessages.confirmarSenha; track $index){
                                        @if(hasInputError('confirmarSenha', validation.type)){
                                            <div  class="validation-error">
                                                <p>O campo é obrigatório</p>
                                            </div>
                                        }  
                                    }
                                </div>
                                
                            </div>
        
                            <div class="telCpf">
                                <div>
                                    <label for="telefone">Digite Seu telefone:</label>
                                    <input type="tel" name="telefone" formControlName="telefone">
                                </div>

                                <div>
                                    <label for="cpf">Digite seu cpf:</label>
                                    <input type="number" name="cpf" formControlName="cpf" required>
                                        
                                    @for(validation of validationMessages.cpf; track $index){
                                        @if(hasInputError('cpf', validation.type)){
                                            <div  class="validation-error">
                                                <p>O cpf é obrigatório</p>
                                            </div>
                                        }  
                                    }
                                </div>
                            </div>
        
                            
        
                            
                        </div>

                        <button type="submit" class="btnCadastrar" [disabled]="!cadastroForm.valid">Cadastrar</button>
                    </form> 

                    <!-- <h1>{{cliente | json}}</h1> -->

                </div>
            </swiper-slide>
        </swiper-container> 
       
    
    
    </div>
</main>

