<header class="header">
    <h1>GitHub Autores</h1>
    <p>Explore os projetos e repositórios da nossa equipe</p>
    <h3>Link do projeto:</h3>
    <p><a href="https://github.com/lazaromx/UAMMotors">UAM MOTORS</a></p>
</header>
    
<main >
    <div class="container">
        <div class="profile-card">
            <img src="https://www.github.com/garrotii.png" alt="Perfil do Garrotti" class="profile-image">
            <h2>Leonardo Garroti</h2>
            <p>Desenvolvedor FullStack.</p>
            <a href="https://www.github.com/garrotii" target="_blank" class="btn">Ver GitHub</a>
        </div>
        <div class="profile-card">
            <img src="https://github.com/lazaromx.png" alt="Perfil do LazaroMX" class="profile-image">
            <h2>Lazaro Ramos</h2>
            <p>Desenvolvedor FullStack</p>
            <a href="https://github.com/lazaromx" target="_blank" class="btn">Ver GitHub</a>
        </div>
        <div class="profile-card">
            <img src="https://github.com/MateusKalil.png" alt="Perfil do MKDark" class="profile-image">
            <h2>Mateus Kalil</h2>
            <p>Construindo backends robustos e sistemas poderosos.</p>
            <a href="https://github.com/MateusKalil" target="_blank" class="btn">Ver GitHub</a>
        </div>
        <div class="profile-card">
            <img src="https://github.com/leosantana153.png" alt="Perfil do Leo Santana" class="profile-image">
            <h2>Leo Santana</h2>
            <p>Explorando novas ideias e tecnologias.</p>
            <a href="https://github.com/leosantana153" target="_blank" class="btn">Ver GitHub</a>
        </div>
    </div>
    
</main>

<footer class="footer">
    <p>&copy; 2024 GitHub Autores. Construído com ❤ pela nossa equipe.</p>
</footer>



