<!-- 8<div class="search">
    <label for="pesquisa"><i class="fad fa-search"></i></label>
     <input type="search" name="pesquisa" placeholder="Digite a marca ou modelo do carro" [(ngModel)]="search">
</div> -->


<div class="car-list">
    @for (veiculo of veiculos; track $index) {
        <div class="car-item" >
            <img [src]="veiculo.imagem" [alt]="veiculo.modelo + ' ' + veiculo.cor">
            <h3 id="marcaModelo">{{veiculo.marca}} {{veiculo.modelo}}</h3>
            <p id="ano">{{veiculo.ano}}</p>
            <p id="cor">{{veiculo.cor}}</p>
            <p id="preco">R$ {{formatarPreco(veiculo.preco)}}</p>
        <!-- <button [routerLink]="['/detalhes/' + veiculo.id]"></button> -->
        </div>    
    }
</div>
